@keyframes myAnim {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    color: #FFFFFF;
}

.center {
    padding-left: calc(50% - 1200px/2);
    padding-right: calc(50% - 1200px/2);
}

a {
    text-decoration: none;
}

.header {
    height: 1024px;
    background-image: url(../img/bgtop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 217px;
}

.header__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    max-width: 788px;
    margin-bottom: 32px;
    animation: myAnim 2s ease 0s 1 normal forwards;
}

.header__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    align-items: center;
    color: #FFFFFF;
    max-width: 481px;
    margin-bottom: 44px;
}

.span-go,
.doit {
    font-weight: 700;
}

.link__go {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    width: 235px;
    height: 48px;
    background: #9C0332;
    border-radius: 30px;
    justify-content: center;
    transition: all .3s;

    &:hover {
        background: #EB443F;
        transform: scale(1.03);
    }
}

.main-play {
    min-height: 556px;
    background: #000915;
    padding-top: 128px;

}

.main-play__box {
    display: flex;
    gap: 32px;
}

.main-play__link {
    display: flex;
    width: 379px;
    height: 300px;
    border-radius: 16px;
    align-items: flex-end;
    padding-left: 32px;
    padding-bottom: 32px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    outline: none;
    transition: transform .3s;

    &:hover {
        border: 3px solid #44D2FF;
        transform: translateY(-5px);
    }
}

.main-play__link:nth-child(1) {
    background-image: url(../img/play1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-play__link:nth-child(2) {
    background-image: url(../img/play2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-play__link:nth-child(3) {
    background-image: url(../img/play3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.play-content {
    padding-top: 362px;
    padding-bottom: 233px;

    &__box {
        display: flex;
        gap: 135px;

    }

    &__info {
        max-width: 584px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__heading {
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        animation: myAnim 2s ease 2s 1 normal forwards;
    }

    &__text {
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
    }

    &__picture {
        transition: .5s;

        &:hover {
            transform: scale(1.05);
        }
    }
}

@import 'media';